/* Custom properties */
:root {
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-header: 48px;
}

.l-centered {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-bottom: 2.5rem;
    position: fixed;
    background-color: beige;
}

.lift:not(:last-child) {
    margin-bottom: 1.5rem;
}

.lift__name {
    display: inline;
}

.lift__sets {
    display: flex;
    justify-content: space-between;
}

.workout {
    margin-bottom: 3rem;
}

    .workout__title {
        display: inline;
    }

    .workout__list {
        margin-bottom: 1rem;
}

.stepper {
    display: flex;
    align-items: center;
}

    .stepper__input {
        /* position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        width: 20px;
        text-align: right;
    }

.font-size--large {
    font-size: var(--font-size-large)
}

.font-size--header {
    font-size: var(--font-size-header)
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
} */

input[type=number] {
  -webkit-appearance: textfield;
}