/* Custom properties */
:root {
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-header: 48px;
}

.l-centered {
    width: 90%;
    margin: 0 auto;
}

.header {
    margin-bottom: 2.5rem;
}

.lift__name {
    display: inline;
}

.workout {
    margin-bottom: 3rem;
}

.workout__name {
    display: inline;
}

.workout__list {
    margin-bottom: 1rem;
}

.font-size--large {
    font-size: var(--font-size-large)
}

.font-size--header {
    font-size: var(--font-size-header)
}