:root {
    --font-size--small: 16px;
    --font-size--medium: 18px;
    --font-size--large: 24px;
    --font-size--header: 48px;
}

.margin-centered {
    margin: 0 auto;
}

.app {
    min-height: 100vh;
    overflow: auto;
}

html {
    font-family: sans-serif, Helvetica, Arial 
}