.add-item {
    display: flex;
    gap: 0.75rem;
}

.add-set {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 0;
}

    .add-set__steppers {
        display: flex;
        gap: 1.5rem;
    }

.add-workout {
    margin-bottom: 2rem;
}

button {
    background: none;
    border: none;
}

    .button--form {
        padding: 0.5rem 1.25rem;
        border: 3px solid var(--color-font--primary);
        border-radius: 0.5rem;
    }
    /* Adjacent form buttons */
    .button--form + .button--form {
        margin-left: 1rem;
    }

.dropdown {
    padding: 1.5rem 1.25rem;
    position: fixed;
    z-index: 1000;
    border: 1px solid white;
    border-radius: 0.8rem;
}

    .dropdown--hidden {
        display: none;
    }

    .dropdown-toggle {
        padding: 0.5rem 1.5rem;
    }

.form input, .form textarea {
    padding: 0.25rem;
    font-size: var(--font-size--medium)
}

.form > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.form--registration {
    margin-bottom: 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
    position: fixed;
    z-index: 1
}

    .header__title {
        padding: 0.5rem 1rem;
        max-width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

input[type=number] {
    -webkit-appearance: textfield;
  }

.lift:not(:last-child) {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid white;
}

.lift__header {
    margin-bottom: 1rem;
    position: relative;
}

.lift__name {
    display: inline;
    margin: 0 1rem;
}

.lift__toggle-collapse {
    position: absolute;
    right: 0;
}

.lift__sets {
    display: flex;
    justify-content: space-between;
}

.log {
    max-width: 400px;
    padding: 0 1rem;
}

.stepper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

    .stepper__input {
        width: 20px;
        text-align: left;
    }

.workout {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.8rem;
}
    .workout__header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .workout__title {
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .workout__nav {
        display: flex;
        gap: 1rem;
    }