.add-set {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-workout {
    margin-bottom: 2rem;
}

.dropdown {
    padding: 2rem;
    position: fixed;
    right: 0;
    transition: 1s;
}

.dropdown--hidden {
    transform: translate(100%, -100%)
}

.dropdown-toggle {
    margin-right: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
    position: fixed;
}

input[type=number] {
    -webkit-appearance: textfield;
  }

.lift:not(:last-child) {
    margin-bottom: 1.25rem;
}

.lift__header {
    margin-bottom: 1rem;
}

.lift__name {
    display: inline;
    margin-left: 1rem;
}

.lift__sets {
    display: flex;
    justify-content: space-between;
}

.stepper {
    display: flex;
    align-items: center;
}

    .stepper__input {
        width: 20px;
        text-align: right;
    }

.workout {
    margin-bottom: 2.5rem;
}
    .workout__header {
        margin-bottom: 1rem;
    }

    .workout__title {
        display: inline;
        margin: 0 1rem 1rem 0;
    }