:root {
    --font-size--extra-small: 14px;
    --font-size--small: 16px;
    --font-size--medium: 18px;
    --font-size--large: 24px;
    --font-size--header: 48px;
}

[data-theme="light"] {
    --color-bg--primary: #ffffff;
    --color-bg--secondary: #f9f9f9;
    --color-font--primary: #000000;
    --color-font--secondary: #000000;
}

[data-theme="dark"] {
    --color-bg--primary: #202020;
    --color-bg--secondary: #0e0e10;
    --color-font--primary: #ffffff;
    --color-font--secondary: #f3cf33;
}

.color-bg--primary {
    background-color: var(--color-bg--primary);
}

.color-bg--secondary {
    background-color: var(--color-bg--secondary);
}

.color-font--primary {
    color: var(--color-font--primary)
}

.color-font--secondary {
    color: var(--color-font--secondary);
}

.font-size--extra-small {
    font-size: var(--font-size--extra-small)
}

.font-size--large {
    font-size: var(--font-size--large);
}

.font-size--header {
    font-size: var(--font-size--header);
}

.box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3),0 2px 10px 0 rgba(0,0,0,0.2);
}