[data-theme="light"] {
    --color-primary: #ffffff;
    --color-secondary: #f9f9f9;
    --color-tertiary: #000000;
}

[data-theme="dark"] {
    --color-primary: #202020;
    --color-secondary: #0e0e10;
    --color-tertiary: #ffffff;
}

.bg-color--primary {
    background-color: var(--color-primary);
}

.bg-color--secondary {
    background-color: var(--color-secondary);
}

.font-color--tertiary {
    color: var(--color-tertiary);
}

.font-size--large {
    font-size: var(--font-size-large);
}

.font-size--header {
    font-size: var(--font-size-header);
}

.box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3),0 2px 10px 0 rgba(0,0,0,0.2);
}